<div class="latest-details">
  <div class="container">
    <h5>Últimos lançamentos</h5>

    <table class="responsive-table">
      <thead>
        <tr>
          <th data-field="id">Tipo</th>
          <th data-field="name">Valor</th>
          <th data-field="remove"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of details; let i = index">
          <td>{{ detail.type }}</td>
          <td>{{ detail.value }}</td>
          <td><a href="javascript:;" (click)="removeRow(i)">Remover</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="amount-wrap row">
  <div class="container">
    <div class="col s6 l2">
      <strong>Total:</strong>
    </div>
    <div class="col s6 l2 right-align">
      <span>R$ 5.000,30</span>
    </div>
  </div>
</div>